h1 {
  padding-bottom: 10px;
margin-bottom: 0;
  padding-left: 30px;
  padding-top: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#fae98c ;
}
div{
 padding: 7px 3px;
  background-color: #000000;
}
.buttonLogin{
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:10px;
  right:10%;

}
.buttonSignin{
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:10px;
  right:3%;
}
.btn {
  background: #ffec8c;
  background-image: -webkit-linear-gradient(top, #ffec8c, #c2b25f);
  background-image: -moz-linear-gradient(top, #ffec8c, #c2b25f);
  background-image: -ms-linear-gradient(top, #ffec8c, #c2b25f);
  background-image: -o-linear-gradient(top, #ffec8c, #c2b25f);
  background-image: linear-gradient(to bottom, #ffec8c, #c2b25f);
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c2b25f;
  background-image: -webkit-linear-gradient(top, #c2b25f, #ffec8c);
  background-image: -moz-linear-gradient(top, #c2b25f, #ffec8c);
  background-image: -ms-linear-gradient(top, #c2b25f, #ffec8c);
  background-image: -o-linear-gradient(top, #c2b25f, #ffec8c);
  background-image: linear-gradient(to bottom, #c2b25f, #ffec8c);
  text-decoration: none;
}
